.bg-color {
    background-color: #3c1c7b;
}

.footer-logo {
    position: relative;
    top: 34px;
}

.footer-menu li {
    margin: 10px 0;
    padding: 2px 10px;
}

.footer-menu li a {
    color: white;
    padding: 6px 15px;
    border-radius: 15px;
    transition: all 1s ease;
}

.footer-menu li a:hover {
    border: 1px solid cornflowerblue;
    margin-left: 10px;
}

.web-fonts i{
    display: inline-block;
    margin: 51px 25px;
    font-size: 25px;
    color: white;
    transition: all .5s;
}
.web-fonts i:hover{
    color: aqua;
    transform: scale(1.1);
}