.bg-image {
    background-image: url("./../img/home-parallax-image-1.jpg");
    min-height: 100vh;
    background-size: cover;
    width: 100%;
    background-position: 50% 0px;
    background-attachment: fixed;
}

.menu ul li {
    display: inline-block;
    margin: 30px 45px 0 0;

}

.menu ul li a {
    color: #ffffff;
    transition: color .6s;
}

.menu ul li a:hover {
    color: #ec0064;
}
.logo{
    cursor: pointer;
}


