.bg-image-4{
    background-image: url("./../img/paralax-gaming-4.jpg");
    min-height:100vh;
    background-size: cover;
    width: 100%;
    background-position: 50% 0px;
    background-attachment: fixed;
}