.bg-image-3{
    background-image: url("./../img/home-parallax-image-3.jpg");
    min-height:100vh;
    background-size: cover;
    width: 100%;
    background-position: 50% 0px;
    background-attachment: fixed;
}
