@import "_header.css";
@import "_main_1.css";
@import "_main_2.css";
@import "_main_3.css";
@import "_footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: ltr;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bookman Old Style";
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.m-t-1 {
    margin-top: 100px;
}

.m-t-2 {
    margin-top: 40px;
}

.m-t-3 {
    margin-top: 10px;
}

.btn {
    padding: 20px 50px;
    background-color: #ec0064;
    color: white;
    border-radius: 30px;
    transition: all .5s ease-in-out;
}

.btn:hover {
    box-shadow: 8px 13px 19.6px 0.4px rgba(236, 0, 100, 0.22);
    background-color: rgba(236, 0, 100, 0.76);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.relative {
    position: relative;
}

.topic {
    color: white;
    font-size: 50px;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: inline-block;
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)  and (max-width: 1080px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
    .top-nav{
        display: none;
    }
    .header-topic{
        margin-top: 15px;
    }
}

/* large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col-l-1 {
        width: 8.33%;
    }

    .col-l-2 {
        width: 16.66%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-4 {
        width: 33.33%;
    }

    .col-l-5 {
        width: 41.66%;
    }

    .col-l-6 {
        width: 50%;
    }

    .col-l-7 {
        width: 58.33%;
    }

    .col-l-8 {
        width: 66.66%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33%;
    }

    .col-l-11 {
        width: 91.66%;
    }

    .col-l-12 {
        width: 100%;
    }
}